<section class="about-section ">
<div class="container about-container">
        <!-- <div class="about-image ">
            <img src="./images/drips-of-honey-about-us.png" 
            alt="rips-of-honey"
            class="drips-of-honey-left"
            width="1280">
           
        </div> -->
    <h2 class="about-title">
        О нас
    </h2>
 <div class="content">
        <div class="text-wrap">
            <p class="text-wrap_content">У нашей маленькой компании есть большой опыт в производстве 
                мёда на собственной пасеке. Наша пасека каждый год проходит 
                квалифицированную проверку, а пчёлы — ветеринарный 
                контроль.</p>
            <p class="text-wrap_content">Делать мёд нам помогают пчёлы породы карника. Это миролюбивые 
                пчёлы, которые склонны к высокой 
                мёдопродуктивности.</p>
            <p class="text-wrap_content">Наша история не уникальна: мы, как и многие другие производители мёда,
                 когда-то захотели, чтобы у потребителей была возможность покупать
                  натуральный, полезный и вкусный мёд без химии. И сейчас мы 
                  придерживаемся своей миссии — работаем для наших клиентов, 
                  делаем качественный мёд, который понравится и будет полезным и 
                  безопасным не только для взрослых, но и для детей.</p>
            <p class="text-wrap_content">Добавляйте наш мёд в чай, когда почувствуете болезненность, 
                ведь он содержит большое количество витаминов и аминокислот,
                 которые положительно влияют на иммунитет и организм в целом.
                  Делайте своим детям блинчики с мёдом на завтрак, он 
                  подсластит настроение перед школой. Также вы можете 
                  заменить сахар мёдом при приготовлении блюд, чем сделаете 
                  их полезнее. Наш мёд может заменить сладости худеющим или 
                  тем, кто просто следит за фигурой, можно спокойно 
                  наслаждаться нашим мёдом и не бояться лишних килограмм.</p>
            <p class="text-wrap_content">Сейчас мы работаем не только для того, чтобы радовать вкусным 
                мёдом людей. Мы, как и все, работаем для поддержки экономики 
                нашей страны. Когда вы заказываете наш продукт, вы автоматически
                 присоединяетесь к этой поддержке, за что мы вам очень благодарны.</p>
            <p class="text-wrap_content">Каждый ваш заказ говорит нам о том, что мы на своём месте и делаем то, 
                что должны делать.</p>
        </div>
        <div class="images-wrap">
            <img src="./images/hive-about-us.jpg" alt="hive" class="hive-about-us">
            <img src="./images/jars-of-honey-about-us.jpg" alt="jars-of-honey" class="jars-of-honey-about-us">
        </div>
 </div>
</div>
</section>
