<section class="production-section" id="production" name="production">
  <div class="container">
    <h2 class="production-title">Все о нашем производстве</h2>
    <div class="content-wrap">
      <div class="content-wrap__img--desktop">
        <img
          src="./images/jars-of-honey-about-production.jpg"
          alt="jars-of-honey"
          class="content-img"
          width="540"
          height="438"
        />
      </div>
      <div class="content-wrap__text">
        <p class="content-text">
          Наша пасека находится в Донецке и Донецкой области. Наши клиенты
          знают: нас мало что может остановить, мы продолжаем делать своё дело и
          производить вкусный и полезный мёд. Мы работаем с породой пчёл
          Карника, наши пчёлы дают здоровый и полезный мёд. Мы не используем
          нагревание, гомогенизацию, фильтрацию в производстве своего мёда и не
          добавляем туда сторонних примесей.
        </p>
        <div class="content-wrap__img--mobile">
          <img
            src="./images/jars-of-honey-about-production-mobile.jpg"
            alt="jars-of-honey"
            class="content-img"
            width="350"
            height="274"
          />
        </div>
        <h3 class="our-prodaktion__title">
          У нас можно заказать такие виды мёда
        </h3>
        <ul class="our-prodaktion__list">
          <li class="our-prodaktion__item">
            <p class="our-prodaktion__item--text">Майский мёд</p>
          </li>
          <li class="our-prodaktion__item">
            <p class="our-prodaktion__item--text">Липовый мед</p>
          </li>
          <li class="our-prodaktion__item">
            <p class="our-prodaktion__item--text">Мёд разнотравье</p>
          </li>
          <li class="our-prodaktion__item">
            <p class="our-prodaktion__item--text">Цветочный мёд</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
