<section class="about-section" id="about">
  <div class="container about-container">
    <h2 class="about-title">О нас</h2>
    <div class="content">
      <div class="text-wrap">
        <p class="text-wrap_content--mobile">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p class="text-wrap_content--desktop">
          У нашей маленькой компании есть большой опыт в производстве мёда на
          собственной пасеке. Наша пасека каждый год проходит квалифицированную
          проверку, а пчёлы — ветеринарный контроль.
        </p>
        <p class="text-wrap_content--desktop">
          Делать мёд нам помогают пчёлы породы карника. Это миролюбивые пчёлы,
          которые склонны к высокой мёдопродуктивности.
        </p>
        <p class="text-wrap_content--desktop">
          Наша история не уникальна: мы, как и многие другие производители мёда,
          когда-то захотели, чтобы у потребителей была возможность покупать
          натуральный, полезный и вкусный мёд без химии. И сейчас мы
          придерживаемся своей миссии — работаем для наших клиентов, делаем
          качественный мёд, который понравится и будет полезным и безопасным не
          только для взрослых, но и для детей.
        </p>
        <p class="text-wrap_content--desktop">
          Добавляйте наш мёд в чай, когда почувствуете болезненность, ведь он
          содержит большое количество витаминов и аминокислот, которые
          положительно влияют на иммунитет и организм в целом. Делайте своим
          детям блинчики с мёдом на завтрак, он подсластит настроение перед
          школой. Также вы можете заменить сахар мёдом при приготовлении блюд,
          чем сделаете их полезнее. Наш мёд может заменить сладости худеющим или
          тем, кто просто следит за фигурой, можно спокойно наслаждаться нашим
          мёдом и не бояться лишних килограмм.
        </p>
        <p class="text-wrap_content--desktop">
          Сейчас мы работаем не только для того, чтобы радовать вкусным мёдом
          людей. Мы, как и все, работаем для поддержки экономики нашей страны.
          Когда вы заказываете наш продукт, вы автоматически присоединяетесь к
          этой поддержке, за что мы вам очень благодарны.
        </p>
        <p class="text-wrap_content--desktop">
          Каждый ваш заказ говорит нам о том, что мы на своём месте и делаем то,
          что должны делать.
        </p>
      </div>
      <div class="images-wrap">
        <picture>
          <source
            srcset="./images/hive-about-us.jpg"
            type="image/jpg"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./images/hive-about-us-mobile.jpg"
            type="image/jpg"
            media="(max-width: 1199px)"
          />

          <img
            src="./images/hive-about-us-mobile.jpg"
            alt="hive"
            class="hive-about-us"
           
          />
        </picture>

        <picture>
         <source
          srcset="./images/jars-of-honey-about-us.jpg"
         type="image/jpg"
         media="(min-width: 1200px)"
        />

        <source
          srcset="./images/jars-of-honey-about-us-mobile.jpg"
          type="image/jpg"
          media="(max-width: 1199px)"
        />

        <img
          src="./images/jars-of-honey-about-us-mobile.jpg"
          alt="jars-of-honey"
          class="jars-of-honey-about-us"
          
        />
       </picture>
      </div>
    </div>
  </div>
</section>
