
<section class="footer-section">
 <div class="container">
    <div class=" footer-container--desktop">
      <div>
          <div class="footer-logo--wrap">
          <svg class="footer-logo__icon" width="157" height="73">
              <use href="./images/icomoon.svg#icon-logo-footer-mobile"></use>
          </svg>
          <!-- <img src="./images/icomoon.svg#icon-logo-footer-mobile" 
          alt=""
          > -->
          </div>           
          <p class="footer-hot" >Гарячая линия:</p>
          <div class="footer-hot--tel-wrap">
            <a class="footer-hot--tel" href="tel:+77777777777"
            >+7 (777) 777 77 77</a>
          </div>
                  
      </div>
      <ul class="footer-nav">
          <li class="footer-nav--item">
              <a href="#" class="footer-nav--link">О нас</a>
          </li>
          <li><a href="#" class="footer-nav--link">Производство</a></li>
          <li><a href="#" class="footer-nav--link">Продукция</a></li>
          <li><a href="#" class="footer-nav--link">Цены</a></li>
          <li><a href="#" class="footer-nav--link">Контакты</a></li>
      </ul>
      <ul class="footer-contacts">
          <li class="footer-contacts--item">
              <a href="tel:+77777777777" class="nav-list__link footer-contacts--link">
                  <svg class="footer-contacts__icon" width="18" height="18">
                    <use href="./images/icomoon.svg#icon-phone"></use>
                  </svg>
                  Администратор: +7 (777) 777 77 77</a
                >
          </li>
          <li class="footer-contacts--item"> 
              <a href="tel:+77777777777" class="nav-list__link footer-contacts--link">
              <svg class="footer-contacts__icon" width="18" height="18">
                <use href="./images/icomoon.svg#icon-phone"></use>
              </svg>
              Администратор: +7 (777) 777 77 77</a
            ></li>
          <li class="footer-contacts--item"> 
              <a href="mailto:honey@mail.ru" class="nav-list__link footer-contacts--link">
              <svg class="footer-contacts__icon" width="14" height="11">
                <use href="./images/icomoon.svg#icon-envelope"></use>
              </svg>
              honey@mail.ru</a
            ></li>
          <li class="footer-contacts--item"> 
              <a href="#" class="nav-list__link footer-contacts--link">
              <svg class="footer-contacts__icon" width="14" height="16">
                <use href="./images/icomoon.svg#icon-location"></use>
              </svg>
              г. Донецк, ул. Университетская 100</a
            ></li>
      </ul>
      <div class="footer-soc">
          <p class="footer-soc--text">Мы в соцсетях</p>
          <ul class="footer-soc--list">
              <li class="footer-soc--item">
                <a href="#" class="footer-soc--link">
                  <svg class="footer-social-icon" width="20" height="16">
                    <use href="./images/icomoon.svg#icon-Twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-soc--item">
                <a href="#" class="footer-soc--link">
                  <svg class="footer-social-icon" width="21" height="12">
                    <use href="./images/icomoon.svg#icon-vk-footer"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-soc--item">
                <a href="#" class="footer-soc--link">
                  <svg class="footer-social-icon" width="20" height="16">
                    <use href="./images/icomoon.svg#icon-telegram-footer"></use>
                  </svg>
                </a>
              </li>                
            </ul>
          <div class="footer-up">
            <a class="footer-up--link"
            href="#">Вверх</a>
          </div>
      </div>   
    </div>
    <div class="footer-container--mobile">
      <div class="footer-container--mobile__wrap">
        <div>
          <div class="footer-logo--wrap">
          <svg class="footer-logo__icon" width="157" height="73">
              <use href="./images/icomoon.svg#icon-logo-footer-mobile"></use>
          </svg>     
          </div>           
          <p class="footer-hot" >Гарячая линия:</p>
          <div class="footer-hot--tel-wrap">
            <a class="footer-hot--tel" href=""
            >+7 (777) 777 77 77</a>   
          </div>           
        </div>
        <div class="footer-soc">
          <p class="footer-soc--text">Мы в соцсетях</p>
          <ul class="footer-soc--list">
              <li class="footer-soc--item">
                <a href="#" class="footer-soc--link">
                  <svg class="footer-social-icon" width="20" height="16">
                    <use href="./images/icomoon.svg#icon-Twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-soc--item">
                <a href="#" class="footer-soc--link">
                  <svg class="footer-social-icon" width="21" height="12">
                    <use href="./images/icomoon.svg#icon-vk-footer"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-soc--item">
                <a href="#" class="footer-soc--link">
                  <svg class="footer-social-icon" width="20" height="16">
                    <use href="./images/icomoon.svg#icon-telegram-footer"></use>
                  </svg>
                </a>
              </li>                
            </ul>
          <!-- <a href="#">Вверх</a> -->
        </div>   
      </div>
      <ul class="footer-contacts">
        <li class="footer-contacts--item">
            <a href="tel:+77777777777" class="nav-list__link footer-contacts--link">
                <svg class="footer-contacts__icon" width="18" height="18">
                  <use href="./images/icomoon.svg#icon-phone"></use>
                </svg>
                Администратор: +7 (777) 777 77 77</a
              >
        </li>
        <li class="footer-contacts--item"> 
            <a href="tel:+77777777777" class="nav-list__link footer-contacts--link">
            <svg class="footer-contacts__icon" width="18" height="18">
              <use href="./images/icomoon.svg#icon-phone"></use>
            </svg>
            Администратор: +7 (777) 777 77 77</a
          ></li>
        <li class="footer-contacts--item"> 
            <a href="mailto:honey@mail.ru" class="nav-list__link footer-contacts--link">
            <svg class="footer-contacts__icon" width="14" height="11">
              <use href="./images/icomoon.svg#icon-envelope"></use>
            </svg>
            honey@mail.ru</a
          ></li>
        <li class="footer-contacts--item"> 
            <a href="#" class="nav-list__link footer-contacts--link">
            <svg class="footer-contacts__icon" width="14" height="16">
              <use href="./images/icomoon.svg#icon-location"></use>
            </svg>
            г. Донецк, ул. Университетская 100</a
          ></li>
    </ul>
    </div>
 </div >
</section>
