<section class="footer">
    <div class="">
        <div>
           <div>
            <img src="./images/icomoon.svg#icon-logo-footer-mobile" alt="">
           </div>
           <div>
            <p>Гарячая линия</p>
            <a class="nav-list__link nav-list__link--tel" href=""
            >+7 (777) 777 77 77</a>
           </div>            
        </div>
        <ul>
            <li>
                <a href="">О нас</a>
            </li>
            <li><a href="">Производство</a></li>
            <li><a href="">Продукция</a></li>
            <li><a href="">Цены</a></li>
            <li><a href="">Контакты</a></li>
        </ul>
    </div>
</section>