<header class="header">
  <div class="container">
    <div class="mobile-menu">
      <img
        class="mobile-menu__logo"
        src="./images/logo-header-mobile.png"
        alt=""
        width="71"
        height="32"
      />
      <button class="mobile-menu__btn mobile-menu__btn--open">
        <svg width="34" height="19" class="mobile-menu__icon">
          <use href="./images/icomoon.svg#icon-mobile-menu"></use>
        </svg>
      </button>

      <div class="nav hidden">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a class="nav-list__link" href="">О нас</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="">Производство</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="">Продукция</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="">Цены</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="">Контакты</a>
          </li>
        </ul>
        <p>
          <a class="nav-list__link nav-list__link--tel" href=""
            >+7 (777) 777 77 77</a
          >
        </p>
      </div>

      <button class="mobile-menu__btn mobile-menu__btn--close hidden">
        <svg width="34" height="19" class="mobile-menu__icon">
          <use href="./images/icomoon.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
  <!-- ====== -->
  <div class="container">
    <div class="desk-header">
      <div class="navigation">
        <div class="desk-header__logo--thumb">
          <img
            class="desk-header__logo"
            src="./images/logo-header.png"
            alt=""
            width="113"
            height="52"
          />
        </div>
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <a class="navigation-list__link" href="">О нас</a>
          </li>
          <li class="navigation-list__item">
            <a class="navigation-list__link" href="">Производство</a>
          </li>
          <li class="navigation-list__item">
            <a class="navigation-list__link" href="">Продукция</a>
          </li>
          <li class="navigation-list__item">
            <a class="navigation-list__link" href="">Цены</a>
          </li>
          <li class="navigation-list__item">
            <a class="navigation-list__link" href="">Контакты</a>
          </li>
        </ul>
      </div>
      <p>
        <a class="navigation-list__link navigation-list__link--tel" href=""
          >+7 (777) 777 77 77</a
        >
      </p>
    </div>
  </div>
  <!-- ====== -->
</header>
