<section class="section-hero">
    <div class="hero">
        <div class="hero-wrapp">
            <h1 class="hero-title ">
                Натуральный мёд
            </h1>
            <!-- <img src="./images/natural-honey-hero.png" alt=""> -->
            <p class="hero-description">Вкусно и полезно</p>
        </div>
        <div class="hero-image_wrapp">
            <img src="./images/honeycombs-hero.png" 
                alt="honeycombs" 
                class="honeycombs-hero" 
                width="327" height="228">
            <img src="./images/jar-of-honey-hero.png"
                alt="jar-of-honey" 
                class="jar-of-honey-hero" 
                width="454" height="625">
            <img src="./images/flowers-hero.png" alt="flowers" class="flowers-hero">
            <img src="./images/bee-hero.png" alt="" class="bee-hero" width="96" height="94">
        </div>
    </div>
</section>