<section class="section-hero" id="hero">
  <div class="hero container">
    <div class="hero-wrapp">
      <h1 class="hero-title">Натуральный мёд</h1>
      <!-- <img src="./images/natural-honey-hero.png" alt=""> -->
      <p class="hero-description">Вкусно и полезно</p>
    </div>
    <div class="hero-image_wrapp">
      <picture>
        <source
          srcset="./images/honeycombs-hero.png"
          type="image/png"
          media="(min-width: 1200px)"
        />

        <source
          srcset="./images/honeycombs-hero-mobile.png"
          type="image/png"
          media="(max-width: 1199px)"
        />

        <img
          src="./images/honeycombs-hero-mobile.png"
          alt="honeycombs"
          class="honeycombs-hero"
          width="290" height="202"
        />
      </picture>
      <picture>
        <source
          srcset="./images/jar-of-honey-hero.png"
          type="image/png"
          media="(min-width: 1200px)"
        />

        <source
          srcset="./images/jar-of-honey-hero-mobile.png"
          type="image/png"
          media="(max-width: 1199px)"
        />

        <img
          src="./images/jar-of-honey-hero-mobile.png"
          alt="jar-of-honey"
          class="jar-of-honey-hero"
          width="366" height="504"
        />
      </picture>
      <picture>
        <source
          srcset="./images/flowers-hero.png"
          type="image/png"
          media="(min-width: 1200px)"
        />

        <source
          srcset="./images/flowers-hero-mobile.png"
          type="image/png"
          media="(max-width: 1199px)"
        />

        <img
          src="./images/flowers-hero-mobile.png"
          alt="flowers"
          class="flowers-hero"
          
        />
      </picture>
      <picture>
        <source
          srcset="./images/bee-hero.png"
          type="image/png"
          media="(min-width: 1200px)"
        />

        <source
          srcset="./images/bee-hero-mobile.png"
          type="image/png"
          media="(max-width: 1199px)"
        />

        <img
          src="./images/bee-hero-mobile.png"
          alt="bee"
          class="bee-hero"
          width="96"
          height="94"
        />
      </picture>
    </div>
  </div>
</section>

<!-- width="454" height="625" -->
<!-- width="327" height="228" -->
<!-- width="96" height="94" -->
