<section class="products" id="products">
  <div class="container">
      <h2 class="products__title">Продукция и цены</h2>
    <div class="products-box">
        <div class="products__list autoplay-gallery">
        <div class="products__item">
            <img class="products__image" src="./images/flower-honey-products-and-cost-mobile.jpg" alt="" width="350" height="245"> </img>
                
               <div class="text-thumb">
                <h3 class="products__sub-title">Цветочный мёд</h3>
                   <p class="products__dscr">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <div class="price-thumb">
                        <div class="products__sub-desc"><span class="products__sub-desc--small">100 г./</span><span  class="products__sub-desc--big">600₽</span></div>
                        <div class="products__sub-desc"><span class="products__sub-desc--small">1000 г./</span><span  class="products__sub-desc--big">6000₽</span></div>
                    </div>
               </div>
        </div>
        <div class="products__item">
            <img class="products__image" src="./images/flower-honey-products-and-cost-mobile.jpg" alt="" width="350" height="245"> </img>
               <div class="text-thumb">
                <h3 class="products__sub-title">Мёд Разнотравье</h3>
                   <p class="products__dscr">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                   <div class="price-thumb">
                        <div class="products__sub-desc"><span class="products__sub-desc--small">100 г./</span><span  class="products__sub-desc--big">600₽</span></div>
                        <div class="products__sub-desc"><span class="products__sub-desc--small">1000 г./</span><span  class="products__sub-desc--big">6000₽</span></div>
                    </div>
               </div>
        </div>
        <div class="products__item">
            <img class="products__image" src="./images/flower-honey-products-and-cost-mobile.jpg" alt="" width="350" height="245"> </img>
                
               <div class="text-thumb">
                <h3 class="products__sub-title">Липовый мёд</h3>
                   <p class="products__dscr">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                   <div class="price-thumb">
                        <div class="products__sub-desc"><span class="products__sub-desc--small">100 г./</span><span  class="products__sub-desc--big">600₽</span></div>
                        <div class="products__sub-desc"><span class="products__sub-desc--small">1000 г./</span><span  class="products__sub-desc--big">6000₽</span></div>
                    </div>
               </div>
        </div>
        <div class="products__item">
            <img class="products__image" src="./images/flower-honey-products-and-cost-mobile.jpg" alt="" width="350" height="245"> </img>
                
               <div class="text-thumb">
                <h3 class="products__sub-title">Майский мёд</h3>
                   <p class="products__dscr">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <div class="price-thumb">
                        <div class="products__sub-desc"><span class="products__sub-desc--small">100 г./</span><span  class="products__sub-desc--big">600₽</span></div>
                        <div class="products__sub-desc"><span class="products__sub-desc--small">1000 г./</span><span  class="products__sub-desc--big">6000₽</span></div>
                    </div>
               </div>
        </div>
      </ul>
    </div>
  
</div>
<ul class="products-desk__list">
    <li class="products-desk__item">
       
       <div>
            <h3 class="products-desk__sub-title">Цветочный мёд</h3>
            <p class="products-desk__descr">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <div class="products-desk__price-thumb">
                <div class="products-desk__price"><span class="products-desk__price--small">100 г./</span><span class="products-desk__price--big">600₽</span></div>
                <div class="products-desk__price"><span class="products-desk__price--small">1000 гр./</span><span class="products-desk__price--big">6000₽</span></div>
            </div>
       </div>
         <img class="products-desk__img" src="./images/flower-honey-products-and-cost.jpg" alt="">
    </li>
    <li class="products-desk__item">
       
        <div>
            <h3 class="products-desk__sub-title">Мёд Разнотравье</h3>
            <p class="products-desk__descr">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <div class="products-desk__price-thumb">
                <div class="products-desk__price"><span class="products-desk__price--small">100 г./</span><span class="products-desk__price--big">600₽</span></div>
                <div class="products-desk__price"><span class="products-desk__price--small">1000 гр./</span><span class="products-desk__price--big">6000₽</span></div>
            </div>
        </div>
         <img class="products-desk__img" src="./images/flower-honey-products-and-cost.jpg" alt="">
    </li>
    <li class="products-desk__item">
       
        <div>
            <h3 class="products-desk__sub-title">Липовый мёд</h3>
            <p class="products-desk__descr">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <div class="products-desk__price-thumb">
                <div class="products-desk__price"><span class="products-desk__price--small">100 г./</span><span class="products-desk__price--big">600₽</span></div>
                <div class="products-desk__price"><span class="products-desk__price--small">1000 гр./</span><span class="products-desk__price--big">6000₽</span></div>
            </div>
        </div>
         <img class="products-desk__img" src="./images/flower-honey-products-and-cost.jpg" alt="">
    </li>
    <li class="products-desk__item">
    
        <div>
            <h3 class="products-desk__sub-title">Майский мёд</h3>
            <p class="products-desk__descr">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <div class="products-desk__price-thumb">
                <div class="products-desk__price"><span class="products-desk__price--small">100 г./</span><span class="products-desk__price--big">600₽</span></div>
                <div class="products-desk__price"><span class="products-desk__price--small">1000 гр./</span><span class="products-desk__price--big">6000₽</span></div>
            </div>
        </div>
         <img class="products-desk__img" src="./images/flower-honey-products-and-cost.jpg" alt="">
    </li>
</ul>
</div>
</section>
