<section class="why-hive section" id="why-hive">
   <div class="container">
            <h2 class="why-hive__title">Почему выбирают наш мёд?</h2>
            <div class="why-hive__gallery autoplay-why-us data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'">
                <div class="gallery__item">
                    <img src="./images/honeycombs-why-hive.png" alt="" width="151" height="164">
                        <p class="gallery__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </img>
                </div>
                <div class="gallery__item">
                    <img src="./images/honeycombs-why-hive.png" alt="" width="151" height="164">
                        <p class="gallery__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </img>
                </div>
                <div class="gallery__item">
                    <img src="./images/honeycombs-why-hive.png" alt="" width="151" height="164">
                        <p class="gallery__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </img>
                </div>
                <div class="gallery__item">
                    <img src="./images/honeycombs-why-hive.png" alt="" width="151" height="164">
                        <p class="gallery__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </img>
                </div>
                <div class="gallery__item">
                    <img src="./images/honeycombs-why-hive.png" alt="" width="151" height="164">
                        <p class="gallery__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </img>
                </div>
            </div>


            <div class="desk-box">
                <div class="top-item">
                        <img src="./images/honeycombs-why-hive.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus iusto aut, explicabo porro, culpa praesentium.</p>
                        </img>
                </div>
                <div class="image">
                    <img src="./images/jar-of-honey-why-hive.png" alt="">
                </div>
                <ul class="meedles-items">
                    <li class="top-item">
                        <img src="./images/honeycombs-why-hive.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus iusto aut, explicabo porro, culpa praesentium.</p>
                        </img>
                    </li>
                    
                    <li class="top-item">
                         <img src="./images/honeycombs-why-hive.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus iusto aut, explicabo porro, culpa praesentium.</p>
                        </img>
                    </li>
                </ul>
                 <ul class="bottom-items">
                    <li class="top-item">
                        <img src="./images/honeycombs-why-hive.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus iusto aut, explicabo porro, culpa praesentium.</p>
                        </img>
                    </li>
                    <li class="top-item">
                         <img src="./images/honeycombs-why-hive.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus iusto aut, explicabo porro, culpa praesentium.</p>
                        </img>
                    </li>
                </ul>

                <!-- <div class="honey-spoon">
                    <img src="./images/honey-spoon-why-hive.png" alt="" width="360" height="430">
                </div> -->

                 <div class="honey-bee-1">
                    <img src="./images/bee-bottom-why-hive.png" alt="" >
                </div>

                 <div class="honey-bee-2">
                    <img src="./images/bee-top-why-hive.png" alt="">
                </div>
            </div>

            

            <!-- <div class="why-hive__conainer">
            <div class="why-hive__child"> 
                <img class="why-hive__img" src="./images/honeycombs-why-hive.png" alt="">
                <p class="why-hive__dscr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
          
                <div class="why-hive__child"> 
                    <img src="./images/honeycombs-why-hive.png" alt="">
                    <p  class="why-hive__dscr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="why-hive__child"> 
                    <img src="./images/honeycombs-why-hive.png" alt="">
                    <p class="why-hive__dscr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
           
                <div class="why-hive__child"> 
                <img src="./images/honeycombs-why-hive.png" alt="">
            <p class="why-hive__dscr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            <div class="why-hive__child"> 
                <img src="./images/honeycombs-why-hive.png" alt="">
                <p class="why-hive__dscr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
                <div class="why-hive__child"> 
                <img src="./images/jar-of-honey-why-hive.png" alt="">
                </div>
                
            </div>
       
        <div class="why-hive__honey-spoon"> 
            <img src="./images/honey-spoon-why-hive.png" alt="">
        </div> -->
   </div>
</section>